body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 21cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    box-shadow: initial;
    outline: 2cm #FAFAFA solid;
}

.title {
    text-align: center;
    margin-top: 0px;
}

.context-table {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}

.table-column {
    width: 50%;
    text-align: center;
    vertical-align: top;
}

.table-column p {
    margin: 2px 0px;
}

.context {
    font-weight: normal;
    text-transform: uppercase;
}

.uppercase {
    text-transform: uppercase;
}

.schene-title {
    margin-bottom: 5px;
}

.character {
    margin-left: 11cm;
}

.speech {
    margin-left: 7cm;
}

.speech .uppercase {
    text-transform: none;
}

.prop {
    font-weight: bold;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}